<h2>Welcome <%= current_user.name %></h2>

<p><%= link_to "Create New Post", new_post_path %></p>
<p><%= link_to "Sign Out", destroy_user_session_path %></p>

<% @posts.each do |post| %>
  <hr>
  <p>Subject: <%= post.subject %></p>
  <p>Description: <%= post.description %></p>
  <p>Author: <%= @users.find { |user| user.id == post.user_id }.name %></p>
  <p>Group: <%= @groups.find { |group| group.id == post.group_id }.name %></p>
  <p>Date: <%= post.created_at.strftime('%c') %></p>
<% end %>
